@model Entity.UnidadMedida
@{
    Layout = "";
}
@using (Html.BeginForm("Create", "UnidadMedida", FormMethod.Post, new { name = "addform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div id="errors-container" class="alert alert-danger animated bounceIn hidden">
            <strong>Alertas</strong>
            <div>
                <ul></ul>
            </div>
        </div>



        @if (Model != null)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }

        <div class="form-group">
            <label for="Descripcion" class="col-md-4 control-label">Descripci&oacute;n</label>
            <div class="col-md-7">
                @Html.TextBoxFor(t => t.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
            <div class="col-md-1 txt-color-red"><span>(*)</span></div>
        </div>
        <div class="form-group">
            <label for="Abreviatura" class="col-md-4 control-label">Abreviatura</label>
            <div class="col-md-7">
                @Html.TextBoxFor(t => t.Abreviatura, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Abreviatura)
            </div>
            <div class="col-md-1 txt-color-red"><span>(*)</span></div>
        </div>
        <div class="form-group">
            <label for="Activado" class="col-md-4 control-label">Activado</label>
            <div class="col-md-1">
                @Html.CheckBoxFor(t => t.Activado, new { @class = "form-control check-small" })
                @Html.ValidationMessageFor(model => model.Activado)
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" name="aceptarbtn" class="btn btn-primary" value="Aceptar">Aceptar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>

    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        var id = parseInt($("input[name='Id']").val());
        if (id > 0) {
            var content = $('h4.modal-title').html();
            content = content.replace("Nueva", "Editar");
            $('h4.modal-title').html(content);
        } else {
            var content = $('h4.modal-title').html();
            content = content.replace("Editar", "Nueva");
            $('h4.modal-title').html(content);
        }


        $("button[name='aceptarbtn']").click(function () {
            var $elem = $(this);
            $elem.addClass("disabled");
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/UnidadMedida/CreatePost/",
                data: $("form[name='addform']").serialize(),
                success: function (data) {
                    $elem.removeClass("disabled");
                    if (data.Success) {
                        $("#table-container").html(data.Data);
                        $("#editItem").modal("hide");
                        $.smallBox({
                            title: "Confirmación",
                            content: "<i class='fa fa-clock-o'></i> <i>El elemento se guardó correctamente</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    } else {
                        var errors = "";
                        for (var i = 0; i < data.Errors.length; i++) {
                            errors += "<li>" + data.Errors[i] + "</li>";
                        }
                        $("#errors-container").removeClass("hidden").find("ul").html(errors);
                    }
                    //$("#editItem .modal-body").html(data);
                    //$("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });

        });
        $('#Descripcion').maxlength({ events: ['blur'], slider: true, maxCharacters: 100, statusText: 'caracteres restantes' });
        $('#Abreviatura').maxlength({ events: ['blur'], slider: true, maxCharacters: 5, statusText: 'caracteres restantes' });

    })
</script>

