@using System.Diagnostics
@model Entity.MateriaPropia



@using (Html.BeginForm("NuevaMateriaPropia", "EncuestaEstadistica", FormMethod.Post, new { name = "addformMP" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div id="divNuevoContactoBodyp" class="form-horizontal panel-body">
            <a id="asignarnueva" href="javascript:void(0);">Asignar Nueva L&iacute;nea de Producto/CIIU</a>
            <br />
             <small class="animated bounceInLeft label label-info">Solo se mostraran las líneas de producto que tengan al menos una unidad de medida establecida.</small>
            <br />
            <br />
             <div id="panelAsigLineaProd" class="animated bounceIn" style="display: none;">
               
                <div class="form-group">
                    <label for="Nombre" class="col-md-4 control-label">CIIU</label>
                    <div class="col-md-7" id="mtciiup">
                        @{ Html.RenderAction("GetDorpDownAllCiiu", "EncuestaEstadistica", new { nombre = "IdCiiuPn", id = (Model != null && Model.LineaProducto != null) ? Model.LineaProducto.IdCiiu.ToString() : "0" }); }
                    </div>

                </div>
                <div class="form-group">
                    <label for="Linea Produco" class="col-md-4 control-label">L&iacute;nea de Producto</label>

                    <div class="col-md-7" id="mtlineaproductopn">

                    </div>

                </div>
                <div style="color: white">_</div>
                <div style="color: white">_</div>

                <div class="modal-footer">
                    <button type="button" name="aceptarbtnMPN" class="btn btn-primary" value="Aceptar">Adicionar</button>
                </div>
            </div>
            <div id="errors-containerp" class="alert alert-danger animated bounceIn hidden">
                <strong>Alertas</strong>
                <div>
                    <ul></ul>
                </div>
            </div>



            <div id="nuevalineadiv" class="animated bounceIn">
                
                @if (Model != null)
                {
                    @Html.HiddenFor(t => t.Id);
                }

                <div class="form-group">
                    <label for="Nombre" class="col-md-4 control-label">CIIU</label>
                    @if (Model == null || Model.Id == 0)
                    {
                        <div class="col-md-7" id="mtciiup">
                            @{ Html.RenderAction("GetDorpDownCiiu", "EncuestaEstadistica", new { nombre = "IdCiiuP", id = (Model != null && Model.LineaProducto != null) ? Model.LineaProducto.IdCiiu.ToString() : "0" }); }
                        </div>
                        <div class="col-md-1 txt-color-red"><span style="margin-left: 30px;">(*)</span></div>
                    }
                    else
                    {
                        <div class="col-md-7" id="mtciiup">
                            @Html.Label("", Model.LineaProducto.Ciiu.Nombre, new { @class = "form-control" })
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="Linea Produco" class="col-md-4 control-label">L&iacute;nea de Producto</label>
                    @if (Model == null || Model.Id == 0)
                    {
                        <div class="col-md-7" id="mtlineaproductop">

                        </div>
                    }
                    else
                    {
                        <div class="col-md-7" id="mtciiup">
                            @Html.Label("", Model.LineaProducto.Nombre, new { @class = "form-control" })
                        </div>
                        @Html.HiddenFor(t => t.IdLineaProducto)
                    }
                    <div class="col-md-1 txt-color-red"><span style="margin-left: 30px;">(*)</span></div>
                </div>
                <div class="form-group">
                    <label for="UnidadMedida" class="col-md-4 control-label">Unidad de Medida</label>
                    @if (Model == null || Model.Id == 0)
                    {
                        <div class="col-md-7" id="mtunidadmedidap">

                        </div>
                    }
                    else
                    {
                        <div class="col-md-7" id="mtciiup">
                            @Html.Label("", Model.UnidadMedida.Abreviatura, new { @class = "form-control" })
                        </div>
                        @Html.HiddenFor(t => t.IdUnidadMedida)
                    }
                    <div class="col-md-1 txt-color-red"><span style="margin-left: 30px;">(*)</span></div>
                </div>
                <div style="color: white">_</div>
                <div style="color: white">_</div>

                <div class="modal-footer">
                    <button type="button" name="aceptarbtnMP" class="btn btn-primary" value="Aceptar">Adicionar</button>
                </div>
            </div>


        </div>
    </div>
}
@{
    var idLineaProd = (Model != null ? Model.IdLineaProducto : 0);
    var idCiuu = (Model != null && Model.LineaProducto != null ? Model.LineaProducto.IdCiiu : 0);
    var idUnidadMedida = (Model != null ? Model.IdUnidadMedida : 0);
}


<script type="text/javascript">
    $(document).ready(function () {

        $('#asignarnueva').click(function () {
            $('#panelAsigLineaProd').toggle();
            $('#nuevalineadiv').toggle();
            $("#IdCiiuPn").chosen({ disable_search_threshold: 10, no_results_text: "No se encontraron coincidencias con ", placeholder_text_single: "Seleccione CIIU" });
            loadLineaProducto2();
            $('#IdCiiuPn').on('change', function () {
                loadLineaProducto2();
            });
        });
        $("button[name='aceptarbtnMPN']").click(function () {
            var $elem = $(this);
            $elem.addClass("disabled");
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/EncuestaEstadistica/AsignarNuevaLineaProducto/",
                data: {
                    Id: $('#IdLineaProductopn').val(),
                    IdCiiu: $('#IdCiiuPn').val()
                },//$("form[name='addformMP']").serialize(),
                success: function (data) {
                    $elem.removeClass("disabled");
                    if (data.Success) {
                        $("#productosMateriaPrimaPropia").html(data.Data);
                        $("#cap3").html(data.ValorProduccion);
                        $("#cap4").html(data.Ventas);
                        $.smallBox({
                            title: "Confirmación",
                            content: "<i class='fa fa-clock-o'></i> <i>El elemento se guardó correctamente</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    } else {
                        var errors = "";
                        for (var i = 0; i < data.Errors.length; i++) {
                            errors += "<li>" + data.Errors[i] + "</li>";
                        }
                        $("#errors-containerp").removeClass("hidden").find("ul").html(errors);
                    }
                    //$("#editItem .modal-body").html(data);
                    //$("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });

        });
        $("button[name='aceptarbtnMP']").click(function () {
            var $elem = $(this);
            $elem.addClass("disabled");
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/EncuestaEstadistica/NuevaMateriaPropia/",
                data: {
                    IdLineaProducto: $('#IdLineaProductop').val(),
                    IdUnidadMedida: $('#IdUnidadMedidap').val()
                },//$("form[name='addformMP']").serialize(),
                success: function (data) {
                    $elem.removeClass("disabled");
                    if (data.Success) {
                        $("#productosMateriaPrimaPropia").html(data.Data);
                        $("#cap3").html(data.ValorProduccion);
                        $("#cap4").html(data.Ventas);
                        $.smallBox({
                            title: "Confirmación",
                            content: "<i class='fa fa-clock-o'></i> <i>El elemento se guardó correctamente</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    } else {
                        var errors = "";
                        for (var i = 0; i < data.Errors.length; i++) {
                            errors += "<li>" + data.Errors[i] + "</li>";
                        }
                        $("#errors-containerp").removeClass("hidden").find("ul").html(errors);
                    }
                    //$("#editItem .modal-body").html(data);
                    //$("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });

        });
        setTimeout(function () {
            loadLineaProducto();
        }, 100);
        $("#IdCiiuP").on('change', function () {
            loadLineaProducto();
        });
        $("#UnidadProduccion").inputmask("9{1,8}.9{0,4}");
        setTimeout(function () {
            $("#IdCiiuP").chosen({ disable_search_threshold: 10, no_results_text: "No se encontraron coincidencias con ", placeholder_text_single: "Seleccione CIIU" });

        }, 500);
        function loadLineaProducto2() {
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/EncuestaEstadistica/GetDorpDownLineaProductop/",
                data: {
                    idCiiu: $('#IdCiiuPn').val(),
                    nombre: "IdLineaProductopn"
                },
                success: function (data) {
                    $("#mtlineaproductopn").html(data);
                    $("#IdLineaProductopn").chosen({ disable_search_threshold: 10, no_results_text: "No se encontraron coincidencias con ", placeholder_text_single: "Seleccione Línea de Producto" });
                    },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });
        }
        function loadLineaProducto() {
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/EncuestaEstadistica/GetDorpDownLineaProductop/",
                data: {
                    idCiiu: $('#IdCiiuP').val(),
                    id: '@idLineaProd',
                    nombre: "IdLineaProductop"
                },
                success: function (data) {
                    $("#mtlineaproductop").html(data);
                    $('#IdLineaProductop').on('change', function () {
                        loadUnidadMedida();
                    });
                    $("#IdLineaProductop").chosen({ disable_search_threshold: 10, no_results_text: "No se encontraron coincidencias con ", placeholder_text_single: "Seleccione Línea de Producto" });
                    loadUnidadMedida();
                    //$("#editItem .modal-body").html(data);
                    //$("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });
        }
        function loadUnidadMedida() {
            $.ajax({
                cache: false,
                type: "POST",
                url: $.origin() + "/EncuestaEstadistica/GetDorpDownUnidadMedida/",
                data: {
                    idLineaProducto: $('#IdLineaProductop').val() ? $('#IdLineaProductop').val() : '0',
                    nombre: "IdUnidadMedidap",
                    id: '@idUnidadMedida'
                },
                success: function (data) {
                    $("#mtunidadmedidap").html(data);
                    $("#IdUnidadMedidap").chosen({ disable_search_threshold: 10, no_results_text: "No se encontraron coincidencias con ", placeholder_text_single: "Seleccione Unidad de Medida" });
                    //$("#editItem .modal-body").html(data);
                    //$("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$elem.removeClass("disabled");
                    alert('Failed to retrieve data.');
                }
            });
        }
    })
</script>
