@using System.Globalization
@using Entity
@using WebApplication.Models
@model EncuestaEstadistica

@{

}
@*@using (Html.BeginForm("Buscar", "EncuestaEstadistica", FormMethod.Post, new {name = "cap4form"}))
    {*@
<div class="panel panel-primary">
    <div class="panel-heading">Capítulo IV: Valor total de ventas mensuales de productos elaborados en el establecimiento</div>
    <div class="panel-body">
        @Html.HiddenFor(t => t.VentasProductosEstablecimiento.Identificador)
        <div class="panel panel-default">
            <div class="panel-heading">Valor de venta en el país y en el extranjero</div>
            <div class="panel-body">
                <table class="table table-striped table-hover table-bordered table-condensed tabla small">
                    <thead>
                        <tr class="cabecera">
                            <th>
                                CIIU
                            </th>
                            <th>
                                Ventas pais
                            </th>
                            <th>
                                Ventas extranjero
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.VentasProductosEstablecimiento.CAT_VENTAS_PAIS_EXTRANJERO.OrderBy(t => t.CAT_CIIU.ToString()))
                        {
                            //Html.RenderPartial("_ProductoMateriaPrimaPropia", item);
                            <tr>
                                <td>
                                    @item.CAT_CIIU.ToString()
                                </td>
                                <td>

                                    @if (!string.IsNullOrWhiteSpace(item.justificacion_venta_pais) && !string.IsNullOrEmpty(item.justificacion_venta_pais))
                                    {
                                        <div class="color-red panel panel-primary padding-10 ventaVentaPaisPanel" data-elementid="@item.Id">
                                            @Html.LabelFor(modelItem => item.VentaPais, String.Format("{0:0.0000}", item.VentaPais))

                                            <div style="margin-top: 5px;" class="panel panel-default">
                                                <span>Justificaci&oacute;n</span>
                                                <div>@Html.DisplayFor(modelItem => item.justificacion_venta_pais, new { style = " width: 100%;", @class = "form-control " + item.Id })</div>
                                            </div>

                                        </div>
                                        <div class="ventaVentaPaisError-@item.Id" style="display: none; position: absolute;">
                                            @{
                                        Html.RenderAction("GetHistoricoValorVentasVentasPais", new { id = item.Id });
                                            }
                                        </div>


                                    }
                                    else
                                    {
                                        @Html.LabelFor(modelItem => item.VentaPais, String.Format("{0:0.0000}", item.VentaPais))
                                    }
                                </td>
                                <td>

                                    @if (!string.IsNullOrWhiteSpace(item.justificacion_venta_ext) && !string.IsNullOrEmpty(item.justificacion_venta_ext))
                                    {
                                        <div class="color-red panel panel-primary padding-10 ventaVentaExtranjeroPanel" data-elementid="@item.Id">
                                            @Html.LabelFor(modelItem => item.VentaExtranjero, String.Format("{0:0.0000}", item.VentaExtranjero))

                                            <div style="margin-top: 5px;" class="panel panel-default">
                                                <span>Justificaci&oacute;n</span>
                                                <div>@Html.DisplayFor(modelItem => item.justificacion_venta_ext, new { style = " width: 100%;", @class = "form-control jve1-" + item.Id })</div>
                                            </div>

                                        </div>
                                        <div class="ventaVentaExtranjeroError-@item.Id" style="display: none; position: absolute;">
                                            @{
                                        Html.RenderAction("GetHistoricoValorVentasVentasExtranjero", new { id = item.Id });
                                            }
                                        </div>

                                    }
                                    else
                                    { @Html.LabelFor(modelItem => item.VentaExtranjero, String.Format("{0:0.0000}", item.VentaExtranjero))}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!Model.VentasProductosEstablecimiento.CAT_VENTAS_PAIS_EXTRANJERO.Any())
                {
                    <div class="no-elements-notification">
                        No hay elementos para mostrar
                    </div>
                }
            </div>
        </div>
        <div id="ventaServicios">
            <div class="panel panel-default">
                <div class="panel-heading">Valor de venta por servicios relacionados con manufactura</div>
                <div class="panel-body">
                    @if (Model.VentasProductosEstablecimiento.ServiciosActivados)
                    {
                        <table id="tableServicios" class="table table-striped table-hover table-bordered table-condensed tabla small">
                            <thead>
                                <tr class="cabecera">
                                    <th>
                                        CIIU
                                    </th>
                                    <th>
                                        detalle
                                    </th>
                                    <th>
                                        Venta pais
                                    </th>
                                    <th>
                                        Venta extranjero
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.VentasProductosEstablecimiento.VentasServicioManufactura)
                                {
                                    //Html.RenderPartial("_ProductoMateriaPrimaPropia", item);
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ciiu)
                                            <input type="hidden" id="ciiu-@item.Id" value="@item.ciiu">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.detalle)
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(item.justificacion_venta_pais) && !string.IsNullOrEmpty(item.justificacion_venta_pais))
                                            {
                                                <div class="color-red panel panel-primary padding-10 servicioVentaPaisPanel" data-elementid="@item.Id">
                                                    @* @Html.DisplayFor(modelItem => item.venta, new { @class = "val-" + item.Id, Value = String.Format("{0:0.0000}", item.venta) })*@
                                                    @Html.LabelFor(modelItem => item.venta, String.Format("{0:0.0000}", item.venta.GetValueOrDefault()))
                                                    <div style="margin-top: 5px;" class="panel panel-default">
                                                        <span>Justificaci&oacute;n</span>
                                                        <div>
                                                            @Html.DisplayFor(modelItem => item.justificacion_venta_pais, new { style = " width: 100%;", @class = "form-control" + item.Id })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="servicioVentaPaisError-@item.Id" style="display: none; position: absolute;">
                                                    @{
                                                Html.RenderAction("GetHistoricoValorServicioVentasPais", new { id = item.Id });
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                @*@Html.DisplayFor(modelItem => item.venta, new { @class = "val-" + item.Id, Value = String.Format("{0:0.0000}", item.venta) })*@
                                                @Html.LabelFor(modelItem => item.venta, String.Format("{0:0.0000}", item.venta.GetValueOrDefault()))
                                            }
                                        </td>
                                        <td>

                                            @if (!string.IsNullOrWhiteSpace(item.justificacion_venta_ext) && !string.IsNullOrEmpty(item.justificacion_venta_ext))
                                            {
                                                <div class="color-red panel panel-primary padding-10 servicioVentaExtranjeroPanel" data-elementid="@item.Id">
                                                    @*@Html.DisplayFor(modelItem => item.venta_extranjero, new { @class = "val-" + item.Id, Value = String.Format("{0:0.0000}", item.venta_extranjero) })*@
                                                    @Html.LabelFor(modelItem => item.venta_extranjero, String.Format("{0:0.0000}", item.venta_extranjero.GetValueOrDefault()))
                                                    <div style="margin-top: 5px;" class="panel panel-default">
                                                        <span>Justificaci&oacute;n</span>
                                                        <div>@Html.DisplayFor(modelItem => item.justificacion_venta_ext, new { style = " width: 100%;", @class = "form-control" + item.Id })
                                                             @*@Html.DisplayFor(modelItem => item.justificacion_venta_pais, new { style = " width: 100%;", @class = "form-control" + item.Id })*@</div>
                                                    </div>

                                                </div>
                                                <div class="servicioVentaExtranjeroError-@item.Id" style="display: none; position: absolute;">
                                                    @{
                                                Html.RenderAction("GetHistoricoValorServicioVentasExtranjero", new { id = item.Id });
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                @*@Html.DisplayFor(modelItem => item.venta_extranjero, new { @class = "val-" + item.Id, Value = String.Format("{0:0.0000}", item.venta_extranjero) })*@
                                                @Html.LabelFor(modelItem => item.venta_extranjero, String.Format("{0:0.0000}", item.venta_extranjero.GetValueOrDefault()))
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @if (!Model.VentasProductosEstablecimiento.VentasServicioManufactura.Any())
                    {
                        <div class="no-elements-notification">
                            No hay elementos para mostrar
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ventaVentaPaisPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaVentaPaisError-" + id).css('top', e.pageY);
            $(".ventaVentaPaisError-" + id).css('left', e.pageX);
            $(".ventaVentaPaisError-" + id).toggle();
        });
        $('.ventaVentaPaisPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaVentaPaisError-" + id).toggle();
        });

        $('.servicioVentaPaisPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".servicioVentaPaisError-" + id).css('top', e.pageY);
            $(".servicioVentaPaisError-" + id).css('left', e.pageX);
            $(".servicioVentaPaisError-" + id).toggle();
        });
        $('.servicioVentaPaisPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".servicioVentaPaisError-" + id).toggle();
        });

        $('.ventaVentaExtranjeroPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaVentaExtranjeroError-" + id).css('top', e.pageY);
            $(".ventaVentaExtranjeroError-" + id).css('left', e.pageX);
            $(".ventaVentaExtranjeroError-" + id).toggle();
        });
        $('.ventaVentaExtranjeroPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaVentaExtranjeroError-" + id).toggle();
        });

        $('.servicioVentaExtranjeroPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".servicioVentaExtranjeroError-" + id).css('top', e.pageY);
            $(".servicioVentaExtranjeroError-" + id).css('left', e.pageX);
            $(".servicioVentaExtranjeroError-" + id).toggle();
        });
        $('.servicioVentaExtranjeroPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".servicioVentaExtranjeroError-" + id).toggle();
        });
    });
</script>
@*}*@
