@using System.Globalization
@using Entity
@using WebApplication.Models
@using Domain
@model EncuestaEstadistica

@{

}
@*@using (Html.BeginForm("Buscar", "EncuestaEstadistica", FormMethod.Post, new {name = "cap2form"}))
    {*@
<div class="panel panel-primary">
    <div class="panel-heading">Capítulo II: Volúmenes de producción mensual del establecimiento</div>

    <div class="panel-body">
        @Html.HiddenFor(t => t.VolumenProduccionMensual.Identificador)
        <h5>Anote en la sección A los productos elaborados por el establecimiento con materia prima propia. </h5>
        <div id="productosMateriaPrimaPropia">
            <div class="panel panel-default">
                <div class="panel-heading">A: Productos fabricados con materia prima propia para venta y/o autoconsumo del establecimiento</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-bordered table-condensed tabla small">
                        <thead>
                            <tr class="cabecera">
                                <th>
                                    Línea de Producto
                                </th>
                                <th style="width: 100px;">
                                    UM
                                </th>
                                <th>
                                    Valor uni. de costo
                                </th>
                                <th>
                                    Existencias
                                </th>
                                <th>
                                    Producción
                                </th>
                                <th>
                                    Otros Ingresos
                                </th>
                                <th>
                                    Venta Pais
                                </th>
                                <th>
                                    Venta Exterior
                                </th>
                                <th>
                                    Otras Salidas
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VolumenProduccionMensual.MateriasPropia.OrderBy(t => t.LineaProducto.ToString()))
                            {
                                var elem = item.LineaProducto.LineasProductoEstablecimiento.FirstOrDefault(t => t.IdEstablecimiento == item.VolumenProduccion.Encuesta.IdEstablecimiento);
                                var isnew = elem != null && elem.IsNew(Model.Fecha);
                                var clase = isnew ? "bg-color-ligth-yellow" : "";
                                
                                <tr class="@clase">
                                    <td>
                                        @item.LineaProducto.Codigo<br />
                                        @item.LineaProducto.Nombre
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnidadMedida.Abreviatura)
                                    </td>
                                    <td>

                                        @if (string.IsNullOrEmpty(item.JustificacionValorUnitario))
                                        {                                            
                                            @Html.Label("", item.ValorUnitario.GetValueOrDefault().ProduceFormat())
                                            <div class="panel panel-default div-jvu-@item.Id" style="display: none;margin-top: 5px; ">
                                                <span>Justificaci&oacute;n</span>
                                                @Html.DisplayFor(modelItem => item.JustificacionValorUnitario, new { style = "  width: 100%;", @class = "form-control jvu-" + item.Id })

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="color-red panel panel-primary padding-10 valorUnitarioPanel" data-elementid="@item.Id">                                                
                                                @Html.Label("", item.ValorUnitario.GetValueOrDefault().ProduceFormat())
                                                <div style="margin-top: 5px;" class="panel panel-default div-jvu-@item.Id">
                                                    <span>Justificaci&oacute;n</span>
                                                    @Html.DisplayFor(modelItem => item.JustificacionValorUnitario, new { style = "  width: 100%;", @class = "form-control jvu-" + item.Id })
                                                </div>
                                            </div>
                                            <div class="valorUnitarioError-@item.Id" style="display: none; position: absolute;">
                                                @{
                                            Html.RenderAction("GetHistoricoValorUnitario", new { id = item.Id });
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td>                                        
                                        @Html.Label("", item.Existencia.GetValueOrDefault().ProduceFormat())
                                    </td>
                                    <td>

                                        @if (string.IsNullOrEmpty(item.JustificacionProduccion))
                                        {                                            
                                            @Html.Label("", item.Produccion.GetValueOrDefault().ProduceFormat())
                                            <div class="panel panel-default div-jp-@item.Id" style="display: none; margin-top: 5px;">
                                                <span>Justificaci&oacute;n</span>
                                                @Html.DisplayFor(modelItem => item.JustificacionProduccion, new { style = "  width: 100%;", @class = "jp-" + item.Id })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="color-red panel panel-primary padding-10 produccionPanel" data-elementid="@item.Id">                                                
                                                @Html.Label("", item.Produccion.GetValueOrDefault().ProduceFormat())
                                                <div style="margin-top: 5px;" class="panel panel-default div-jp-@item.Id">
                                                    <span>Justificaci&oacute;n</span>
                                                    @Html.DisplayFor(modelItem => item.JustificacionProduccion, new { style = "  width: 100%;", @class = "jp-" + item.Id })
                                                </div>
                                            </div>
                                            <div class="produccionError-@item.Id" style="display: none; position: absolute;">
                                            @{
                                                Html.RenderAction("GetHistoricoProduccion", new { id = item.Id });
                                            }
                                            </div>
                                        }
                                    </td>
                                    <td>                                        
                                        @Html.Label("", item.OtrosIngresos.GetValueOrDefault().ProduceFormat())
                                    </td>
                                    <td>

                                        @if (string.IsNullOrEmpty(item.justificacion_venta_pais))
                                        {                                            
                                            @Html.Label("", item.VentasPais.GetValueOrDefault().ProduceFormat())
                                            <div class="panel panel-default div-jvp-@item.Id" style="display: none;margin-top: 5px; ">
                                                <span>Justificaci&oacute;n</span>
                                                @Html.TextAreaFor(modelItem => item.justificacion_venta_pais, new { style = "  width: 100%;", @class = "form-control jvp002-" + item.Id })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="color-red panel panel-primary padding-10 ventaPaisPanel" data-elementid="@item.Id">                                                
                                                @Html.Label("", item.VentasPais.GetValueOrDefault().ProduceFormat())
                                                <div style="margin-top: 5px;" class="panel panel-default div-jvp-@item.Id" title="Debe insertar una justificación para las ventas en el pais">
                                                    <span>Justificaci&oacute;n</span>
                                                    @Html.DisplayFor(modelItem => item.justificacion_venta_pais, new { style = "  width: 100%;", @class = "form-control jvp002-" + item.Id })
                                                </div>
                                            </div>
                                            <div class="ventaPaisError-@item.Id" style="display: none; position: absolute;">
                                                @{
                                            Html.RenderAction("GetHistoricoVentasPais", new { id = item.Id });
                                                }
                                            </div>
                                        }



                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(item.justificacion_venta_extranjero))
                                        {                                            
                                            @Html.Label("", item.VentasExtranjero.GetValueOrDefault().ProduceFormat())
                                            <div class="panel panel-default div-jve-@item.Id" style="display: none;margin-top: 5px; ">
                                                <span>Justificaci&oacute;n</span>
                                                @Html.TextAreaFor(modelItem => item.justificacion_venta_extranjero, new { style = "  width: 100%;", @class = "form-control jve002-" + item.Id })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="color-red panel panel-primary padding-10 ventaextPanel" data-elementid="@item.Id">                                                
                                                @Html.Label("", item.VentasExtranjero.GetValueOrDefault().ProduceFormat())
                                                <div style="margin-top: 5px;" class="panel panel-default div-jvp-@item.Id" title="Debe insertar una justificación para las ventas en el extranjero">
                                                    <span>Justificaci&oacute;n</span>
                                                    @Html.DisplayFor(modelItem => item.justificacion_venta_extranjero, new { style = "  width: 100%;", @class = "form-control jve002-" + item.Id })
                                                </div>
                                            </div>
                                            <div class="ventaExtranjeroError-@item.Id" style="display: none; position: absolute;">
                                                @{
                                            Html.RenderAction("GetHistoricoVentasExtranjero", new { id = item.Id });
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td>                                        
                                        @Html.Label("", item.OtrasSalidas.GetValueOrDefault().ProduceFormat())
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (!Model.VolumenProduccionMensual.MateriasPropia.Any())
                    {
                        <div class="no-elements-notification">
                            No hay elementos para mostrar
                        </div>
                    }

                </div>
            </div>
        </div>
        <h5>Si desea agregar nuevas líneas de producto, por favor, póngase en contacto con el analista responsable.</h5>
        <h5>En la sección B, registre los productos elaborados por la empresa con materia prima recibida de terceros, señalando sólo la cantidad producida en el mes de referencia.</h5>
        <div id="productosMateriaPrimaTerceros">
            <div class="panel panel-default">
                <div class="panel-heading">B: Productos fabricados con materia recibida de terceros</div>
                <div class="panel-body">

                    <div class="panel panel-default" id="divmtgeneral" style="display:none">
                        <div class="panel-heading">Producto con materia prima de terceros</div>
                        <div class="panel-body" id="divmt">

                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered table-condensed tabla small">
                        <thead>
                            <tr class="cabecera">
                                <th>
                                    L&iacute;nea de Producto
                                </th>                                
                                <th>
                                    UM
                                </th>
                                <th>
                                    Producción
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.VolumenProduccionMensual.MateriasTercero)
                            {                                
                                <tr>
                                    <td>                                        
                                        <span>@item.LineaProducto.Ciiu.Codigo-@item.LineaProducto.Nombre</span>                                        
                                    </td>                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnidadMedida.Abreviatura)
                                    </td>
                                    <td>                                        
                                        @if (!string.IsNullOrWhiteSpace(item.justificacion_produccion) && !string.IsNullOrEmpty(item.justificacion_produccion))
                                        {
                                            <div class="color-red panel panel-primary padding-10 produccionTercpanel" data-elementid="@item.Id">
                                                @Html.Label("", decimal.Parse(item.UnidadProduccion).ProduceFormat())
                                                <div style="margin-top: 5px;" class="panel panel-default">
                                                    <span>Justificaci&oacute;n</span>
                                                    <div>@Html.DisplayFor(modelItem => item.justificacion_produccion, new { style = " width: 100%;", @class = "form-control" })</div>
                                                </div>

                                            </div>
                                            <div class="produccionTercError-@item.Id" style="display: none; position: absolute;">
                                                @{
                                            Html.RenderAction("GetHistoricoProduccionTerceros", new { id = item.Id });
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.Label("", decimal.Parse(item.UnidadProduccion).ProduceFormat())
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (!Model.VolumenProduccionMensual.MateriasTercero.Any())
                    {
                        <div class="no-elements-notification">
                            No hay elementos para mostrar
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {


        $('.produccionTercpanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".produccionTercError-" + id).css('top', e.pageY);
            $(".produccionTercError-" + id).css('left', e.pageX);
            $(".produccionTercError-" + id).toggle();
        });
        $('.produccionTercpanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".produccionTercError-" + id).toggle();
        });


        $('.ventaextPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaExtranjeroError-" + id).css('top', e.pageY);
            $(".ventaExtranjeroError-" + id).css('left', e.pageX);
            $(".ventaExtranjeroError-" + id).toggle();
        });
        $('.ventaextPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaExtranjeroError-" + id).toggle();
        });

        $('.ventaPaisPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaPaisError-" + id).css('top', e.pageY);
            $(".ventaPaisError-" + id).css('left', e.pageX);
            $(".ventaPaisError-" + id).toggle();
        });
        $('.ventaPaisPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".ventaPaisError-" + id).toggle();
        });

        $('.produccionPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".produccionError-" + id).css('top', e.pageY);
            $(".produccionError-" + id).css('left', e.pageX);
            $(".produccionError-" + id).toggle();
        });
        $('.produccionPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".produccionError-" + id).toggle();
        });


        $('.valorUnitarioPanel').on('mouseenter', function (e) {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".valorUnitarioError-" + id).css('top', e.pageY);
            $(".valorUnitarioError-" + id).css('left', e.pageX);
            $(".valorUnitarioError-" + id).toggle();
        });
        $('.valorUnitarioPanel').on('mouseleave', function () {
            var $elem = $(this);
            var id = $elem.attr("data-elementid");
            $(".valorUnitarioError-" + id).toggle();
        });
    });
</script>
@*}*@