@using System.Globalization
@using Entity
@using WebApplication.Models
@model EncuestaEstadistica

@{

}
<div id="errors-container-general" class="alert alert-danger animated bounceIn hidden">
    <strong>Alertas</strong>
    <div>
        <ul></ul>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<a href="/EncuestaEstadistica/Encuestas/@Model.IdEstablecimiento" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>
<div>
    <div class="row">
        <div class="col-md-5">
            @*<img alt="semci" src="~/Content/img/logo-apl.png" />*@
        </div>
        <div class="col-md-12 text-align-center">
            <h2>Estadística Industrial Mensual  @Model.Fecha.ToString("yyyy", CultureInfo.GetCultureInfo("ES")).ToUpper()</h2>
            <h4>Información del mes @Model.Fecha.ToString("MMMM", CultureInfo.GetCultureInfo("ES")).ToUpper()</h4>
        </div>
        <div class="col-md-12 text-align-center">
            <span class="col-md-12">Esta encuesta tiene solo fines estadísticos amparada por</span>
            <span class="col-md-12">D.L. Nº 604    --   D.S. 043-2001-PCM-Art. 97 del secreto estadístico y</span>
            <span class="col-md-12">R.M. 343-2012    Ley Nº 29812     R.J. N° XXX -2014-INEI</span>
            <span class="col-md-12">La información será utilizada en la elaboración de estadísticas del sector Manufactura en el País.</span>

        </div>
    </div>
</div>


@if (Model != null)
{
    using (Html.BeginForm("Enviar", "EncuestaEstadistica", FormMethod.Post, new { name = "encuestaEstadisticaForm" }))
    {
        @Html.HiddenFor(t => t.Id)
        @*<h3 class="screen-title">
            Encuesta de Manufactura Estad&iacute;stica
            <span class="label label-primary">
                @Model.Fecha.ToString("MMMM yyyy", CultureInfo.GetCultureInfo("ES")).ToUpper()
            </span>
        </h3>*@
        <div id="cap1">
            @{ Html.RenderPartial("_IdentificacionEstablecimiento", Model); }
        </div>
        <div id="cap2">
            @{ Html.RenderPartial("_VolumenProduccionMensual", Model); }
        </div>
        <div id="cap3">
            @{ Html.RenderPartial("_ValorProduccionEstablecimiento", Model); }
        </div>
        <div id="cap4">
            @{ Html.RenderPartial("_ValorVentasProductosEstablecimiento", Model); }
        </div>
        <div id="cap5">
            @{ Html.RenderPartial("_TrabajadoresDiasTrabajados", Model); }
        </div>
        <div id="cap6">
            @{ Html.RenderPartial("_FactorProduccion", Model); }
        </div>
        <div class="row text-align-center">
            <h4 class="col-md-12">Agradecemos su valiosa colaboración con las estadísticas oficiales del país</h4>
        <span class="col-md-12 text-align-left">El  formulario debera remitirse : </span>
        <span class="col-md-12 text-align-left">Via WEB  en forma virtual a través de la ruta de acceso https://extranet.produce.gob.pe utilizando su clave de acceso</span>
        <span class="col-md-12 text-align-left">Correo electronico : est_manufactura@produce.gob.pe</span>
        <span class="col-md-12 text-align-left">Coordinaciones en Lima y Callao,  Ministerio de la Producción al 616-2222 anexos 1651,1636,1414,1839, 1832, 1847</span>
        <span class="col-md-12 text-align-left">Regiones,  Direcciones Regionales de PRODUCE</span>
        <span class="col-md-12 text-align-left"> La presentación tardía, el suministro de datos falsos y la negativa a dar información solicitada dan lugar a las sanciones establecidas en el Artículo 89° del D.S. N° 043-2001-PCM, publicado en El Peruano del día 25/04/2001 </span>
        </div>

        <div class="modal-footer">
            <a id="btnEncuestaEnviar" class="btn btn-primary pull-right" >Enviar a evaluaci&oacute;n</a>
            
        </div>

    }
}

@Scripts.Render("~/bundles/mask")
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnEncuestaEnviar").click(function () {

            $.SmartMessageBox({
                title: "Mensaje",
                content: "¿Esta seguro que desea enviar la encuesta?",
                buttons: '[No][Si]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Si") {
                    $.ajax({
                        cache: false,
                        //dataType: "json",
                        type: "POST",
                        // contentType: "application/json",
                        url: window.location.origin + "/EncuestaEstadistica/Enviar/",
                        data: $("form[name='encuestaEstadisticaForm']").serialize(),
                        success: function (data) {
                            if (data.Success) {
                                //window.location.href = window.location.origin + "/EncuestaEmpresarial";
                                $.smallBox({
                                    title: "Confirmación",
                                    content: "<i class='fa fa-clock-o'></i> <i>El elemento se envió correctamente</i>",
                                    color: "#659265",
                                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                    timeout: 4000
                                });
                                $(".body-content").html(data.Data);
                            } else {
                                var errors = "";
                                for (var i = 0; i < data.Errors.length; i++) {
                                    errors += "<li>" + data.Errors[i] + "</li>";
                                }
                                $("#errors-container-general").removeClass("hidden").find("ul").html(errors);
                                $.smallBox({
                                    title: "Error",
                                    content: "<i class='fa fa-clock-o'></i> <i>Error al validar la encuesta</i>",
                                    color: "#C46A69",
                                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                    timeout: 4000
                                });
                                window.scrollTo(0, 0);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve data.');
                        }
                    });
                }
                if (ButtonPressed === "No") {

                }

            });
        });
        $("#btn-guardar").click(function () {
            var preg = $(".pregunta-container");
            var preguntasjs = [];
            preg.each(function (i, e) {

                var valores = [];

                var idPreg = $(e).attr("data-id");
                var text = $(e).find(".pregunta-text").html();
                var checks = $(e).find("input[type='checkbox'][datavalueasoc='false']");
                var radios = $(e).find("input[type='radio'][datavalueasoc='false']");

                if (checks.length > 0) {
                    checks.each(function (j, v) {
                        var $obj = $(v);
                        var tempValue = {
                            Id: $obj.attr("datavalorid"),
                            Numero: $obj.attr("datanumero"),
                            Seleccionado: v.checked ? 1 : 0,
                            Texto: $obj.attr("datatexto"),
                            IdPosibleRespuesta: $obj.attr("datapospregid"),
                            IdPregunta: $obj.attr("datapregid")
                        };
                        if ($obj.attr("datapregid") != "") {
                            var pregAsocValues = [];
                            var valPregAsoc = $(e).find(".preg-asoc-" + $obj.attr("datavalorid") + " [datavalueasoc='true']");
                            valPregAsoc.each(function (ind, ob) {
                                pregAsocValues.push({
                                    Id: $(ob).attr("datavalueasocid"),
                                    Texto: $(ob).attr("datavalueasoctext"),
                                    Seleccionado: ob.checked ? 1 : 0,
                                });
                            });
                            tempValue.Pregunta = {
                                Id: $obj.attr("datapregid"),
                                Valores: pregAsocValues
                            };
                        }
                        valores.push(tempValue);
                    });
                }

                if (radios.length > 0) {
                    radios.each(function (j, v) {
                        var $obj = $(v);
                        var tempValue = {
                            Id: $obj.attr("datavalorid"),
                            Numero: $obj.attr("datanumero"),
                            Seleccionado: v.checked ? 1 : 0,
                            Texto: $obj.attr("datatexto"),
                            IdPosibleRespuesta: $obj.attr("datapospregid"),
                            IdPregunta: $obj.attr("datapregid")
                        };
                        if ($obj.attr("datapregid") != "") {
                            var pregAsocValues = [];
                            var valPregAsoc = $(e).find(".preg-asoc-" + $obj.attr("datavalorid") + " [datavalueasoc='true']");
                            valPregAsoc.each(function (ind, ob) {
                                pregAsocValues.push({
                                    Id: $(ob).attr("datavalueasocid"),
                                    Texto: $(ob).attr("datavalueasoctext"),
                                    Seleccionado: ob.checked ? 1 : 0,
                                });
                            });
                            tempValue.Pregunta = {
                                Id: $obj.attr("datapregid"),
                                Valores: pregAsocValues
                            };
                        }
                        valores.push(tempValue);
                    });
                }


                preguntasjs.push({
                    Id: idPreg,
                    Texto: text,
                    Valores: valores
                });

            });

            var sendData = {
                Id: $("input[name='encid']").val(),
                Preguntas: preguntasjs
            };


            $.ajax({
                cache: false,
                dataType: "json",
                type: "POST",
                contentType: "application/json",
                url: window.location.origin + "/EncuestaEmpresarial/Guardar/",
                data: JSON.stringify(sendData),
                success: function (data) {
                    if (data.Success) {
                        //window.location.href = window.location.origin + "/EncuestaEmpresarial";
                        $.smallBox({
                            title: "Confirmación",
                            content: "<i class='fa fa-clock-o'></i> <i>El elemento se guardó correctamente</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                        $(".body-content").html(data.Data);
                    } else {
                        var errors = "";
                        for (var i = 0; i < data.Errors.length; i++) {
                            errors += "<li>" + data.Errors[i] + "</li>";
                        }
                        $("#errors-container").removeClass("hidden").find("ul").html(errors);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve data.');
                }
            });


        });



    });
</script>