@model Entity.ExportacionHarinaTrigo
@using System.Globalization
@{
    ViewBag.Title = "Detalle de Exportacion de Harina de Trigo";
}

<div class="title-container-details">
    <h3 class="screen-title">Detalle de Exportaci&oacute;n de Harina de Trigo</h3>
    <a href="/ImportacionExportacionHarinaTrigo/Index" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>

    <div class="info-child-screen-details">
        <div>
            <span class="bold">CIIU: </span> <span>1071-ELABORACIÓN DE PRODUCTOS DE PANADERÍA</span>
        </div>
        <div>
            <span class="bold">Año: </span> <span>@Model.fecha.ToString("yyyy", CultureInfo.GetCultureInfo("ES"))</span>
        </div>
        <div>
            <span class="bold">Mes: </span> <span class="text-capitalize">@Model.fecha.ToString("MMMM", CultureInfo.GetCultureInfo("ES"))</span>
        </div>
        <div>
            <span class="bold">FOB USD: </span> <span>@Model.fob_usd.ToString("0.0000", CultureInfo.InvariantCulture)</span>
        </div>

        <div>
            <span class="bold">FORB S/.: </span> <span>@Model.fob_s.ToString("0.0000", CultureInfo.InvariantCulture)</span>
        </div>

        <div>
            <span class="bold">Activado: </span> <span>@Model.Activado</span>
        </div>




    </div>
</div>

