@model Entity.LineaProducto

@{
    ViewBag.Title = "Detalle del Producto";
}
<div class="title-container-details">
    <h3 class="screen-title">Detalle del Producto</h3>

    <a href="/LineaProducto/Index" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>

    <div class="info-child-screen-details">
        <div>
            <span class="bold">Nombre: </span> <span>@Model.Nombre</span>
        </div>
        <div>
            <span class="bold">Codigo: </span> <span>@Model.Codigo</span>
        </div>
        <div>
            <span class="bold">CIIU: </span> <span>@Model.Ciiu.Nombre</span>
        </div>
        <div>
            <span class="bold">Activado: </span> <span>@Model.Activado</span>
        </div>
        <div>
            <span class="bold">Unidades de Medida: </span>
            @if (Model.LineasProductoUnidadMedida != null && Model.LineasProductoUnidadMedida.Count > 0)
            {
                foreach (var um in Model.LineasProductoUnidadMedida)
                {
                    <div>
                        <span title="@um.UnidadMedida.Descripcion" class="label label-primary">@um.UnidadMedida.Abreviatura</span>
                    </div>
                    <div>
                        <span class="bold">Unidad de Conversi&oacute;n: </span>
                        @if (um.UnidadConversion != null)
                        {
                            <span>@um.UnidadConversion.Abreviatura</span>
                        }
                        else
                        {
                            <span>No establecido.</span>
                        }

                    </div>
                    <div>
                        <span class="bold">Factor de Conversi&oacute;n: </span>
                        @if (um.UnidadConversion != null)
                        {
                            <span>@um.factor_conversion.ToString("0.0000")</span>
                        }
                        else
                        {
                            <span>No establecido.</span>
                        }
                    </div>
                    <br>
                }
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>

    </div>
</div>
