@using System.Globalization
@using Entity
@model Entity.Reportes.PorcentajeEncuestaEstadistica
@{

}

<table class="table table-striped table-hover table-bordered table-condensed tabla small">
    <thead>
        <tr class="cabecera">

            <th>
                ANALISTA
            </th>
            @foreach (var item in Model.HeadersList)
            {
                <th>@item</th>
            }
            @*<th>
                ENE
            </th>
            <th>
                FEB
            </th>
            <th>
                MAR
            </th>
            <th>
                ABR
            </th>
            <th>
                MAY
            </th>
            <th>
                JUN
            </th>
            <th>
                JUL
            </th>
            <th>
                AGO
            </th>
            <th>
                SEP
            </th>
            <th>
                OCT
            </th>
            <th>
                NOV
            </th>
            <th>
                DIC
            </th>*@

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Elements)
        {
            <tr>
                <td>
                    <span>@item.Analista</span>
                    <span data-itemid="@item.IdAnalista" class="pull-right expand-element">
                        <a href="javascript:void(0);">
                            <i id="plus-@item.IdAnalista" style="font-size: 10px; color: gray;" class="glyphicon glyphicon-plus"></i>
                            <i id="minus-@item.IdAnalista" style="font-size: 10px; color: gray; display: none" class="glyphicon glyphicon-minus"></i>
                        </a>
                    </span>
                </td>
                @for (var i = 1; i <= 12; i++)
                {
                    <td>
                        @{
                            var m = item.Month.FirstOrDefault(t => t.Number == i);
                            if (m != null)
                            {
                                <span>@m.Percent.ToString(".00", CultureInfo.CreateSpecificCulture("en"))%</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        }
                    </td>

                }
            </tr>
            <tr style="display: none;" class="ciiu-all animated bounceIn" id="ciiu-@item.IdAnalista">
                <td colspan="13">
                    @Html.Partial("PorcentajeEncuestaEstadistica/_TableCiiu", item.Ciius)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Elements.Count == 0)
{
    <div class="no-elements-notification">
        No hay elementos para mostrar
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
      
        $(".expand-element").click(function () {
            var elem = $(this);
            var id = elem.attr("data-itemid");
            var exp = $("#ciiu-" + id);
            var plus = $("#plus-" + id);
            var minus = $("#minus-" + id);
            exp.toggle();
            plus.toggle();
            minus.toggle();
        });
    });
</script>

