@model Entity.Establecimiento

@*@{
    ViewBag.Title = "Detalles del Establecimiento";
}
<div class="title-container-details">
    <h3 class="screen-title">Detalles del Establecimiento</h3>

    <a href="/Establecimiento/Index" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-backward"></i> Regresar</a>

    <div class="info-child-screen-details">
        <div>
            <span class="bold">Nombre: </span> <span>@Model.Nombre</span>
        </div>
        <div>
            <span class="bold">Raz&oacute;n Social: </span> <span>@Model.RazonSocial</span>
        </div>
        <div>
            <span class="bold">Ruc: </span> <span>@Model.Ruc</span>
        </div>
        <div>
            <span class="bold">Direcci&oacute;n: </span> <span>@Model.Direccion</span>
        </div>
        <div >
            <span class="bold">Departamento:</span>
            @{Html.RenderAction("GetNombreDepartamento", "Departamento", new { idDepartamento = Model.IdDepartamento });}
        </div>
        <div>
            <span class="bold">Provincia:</span>
            @{Html.RenderAction("GetNombreProvincia", "Provincia", new { idProvincia = Model.IdProvincia });}
        </div>
        <div>
            <span class="bold">Distrito:</span>
            @{Html.RenderAction("GetNombreDistrito", "Distrito", new { idDistrito = Model.IdDistrito });}
        </div>
        <div>
            <span class="bold">Tel&eacute;fono: </span> <span>@Model.Telefono</span>
        </div>
        <div>
            <span class="bold">Fax: </span> <span>@Model.Fax</span>
        </div>
        <div>
            <span class="bold">Observaciones: </span> <span>@Model.Observaciones</span>
        </div>
        <div>
            <span class="bold">Activado: </span> <span>@Model.Activado</span>
        </div>
        <div>
            <span class="bold">Analista: </span>
            @if (Model.Analista != null)
            {
                <span>@Model.Analista.Login</span>
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>
        <div>
            <span class="bold">Informante: </span>
            @if (Model.Informante != null)
            {
                <span>@Model.Informante.Login</span>
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>
        <div>
            <span class="bold">CIIU: </span>
            @if (Model.Ciius.Any())
            {
                foreach (var ciiu in Model.Ciius)
                {
                    <span class="label label-primary" title="@ciiu.Nombre">@ciiu.Codigo</span>
                }
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>
        <div>
            @{
                long idCont = 0;
                if (Model.ContactoPredeterminado != null)
                {
                    idCont = Model.ContactoPredeterminado.Id;
                }
            }
            <span class="bold">Contactos: </span>
            @if (Model.Contactos.Any())
            {
                if (Model.ContactoPredeterminado != null)
                {
                    <span class="label label-default" title="Predeterminado">@string.Format("{0}", Model.ContactoPredeterminado.Nombre)</span>
                }
                foreach (var ciiu in Model.Contactos.Where(t => t.Id != idCont))
                {
                    <span class="label label-primary" title="">@string.Format("{0}", ciiu.Nombre)</span>
                }
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>
        <div>
            <span class="bold">L&iacute;neas de Productos: </span>
            @if (Model.LineasProductoEstablecimiento.Any())
            {
                foreach (var ciiu in Model.LineasProductoEstablecimiento)
                {
                    <span class="label label-primary" title="">@string.Format("{0}", ciiu.LineaProducto.Nombre)</span>
                }
            }
            else
            {
                <span>Sin Asignar</span>
            }
        </div>



    </div>
</div>*@
