@using Entity
@using PagedList.Mvc
@model Domain.Query<Entity.EstablecimientoAnalista>
<table class="table table-striped table-hover table-bordered table-condensed tabla small">
    <thead>
        <tr class="cabecera">
            <th style="width: 100px;"> Identificador Interno </th>
            <th> Establecimiento </th>
            <th> RUC </th>
            
            <th>Acci&oacute;n</th>
    </thead>

    <tbody>
        @foreach (var item in Model.Elements)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CAT_ESTABLECIMIENTO.IdentificadorInterno)</td>
                <td>@Html.DisplayFor(modelItem => item.CAT_ESTABLECIMIENTO.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.CAT_ESTABLECIMIENTO.Ruc)</td>
                
                <td>
                    @*<a href="/EncuestaEmpresarial/EncuestasAnalista?id=@item.Id&uid=@ViewBag.UserId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Encuestas de Opini&oacute;n" id="quitar-@item.Id" role="@item.Id" class="quitarw-btn">
                    
                        <i class="color-black glyphicon glyphicon-search"></i>
                    </a>
                    <a href="/EncuestaEstadistica/EncuestasAnalista?id=@item.Id&uid=@ViewBag.UserId" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Encuestas Estad&iacute;sticas" role="@item.Id" class="quitarw-btn">
                        <i class="color-black glyphicon glyphicon-folder-open"></i>
                    </a>*@
                    <a href="/EncuestaEmpresarial/EncuestasAnalista/@item.CAT_ESTABLECIMIENTO.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Encuestas de Opini&oacute;n" id="quitar-@item.Id" role="@item.Id" class="quitarw-btn">
                    
                        <i class="color-black glyphicon glyphicon-search"></i>
                    </a>
                    <a href="/EncuestaEstadistica/EncuestasAnalista/@item.CAT_ESTABLECIMIENTO.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Encuestas Estad&iacute;sticas" role="@item.Id" class="quitarw-btn">
                        <i class="color-black glyphicon glyphicon-folder-open"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@*@if (Model.Elements.Count == 0)
{
    <div class="no-elements-notification">
        No hay elementos para mostrar
    </div>
}*@
@*@Html.PagedListPager(Model.Elements, page => Url.Action("PageEstablecimientosEncuestaEmpresarial", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)*@


<script type="text/javascript">
    $(document).ready(function () {
        $.InitTooltip();
    })
</script>

