@using Entity
@using PagedList.Mvc
@model Domain.Query<Entity.MetodoCalculo>
@{
    Layout = "";
}

<table class="table table-striped table-hover table-bordered table-condensed tabla small">
    <thead>
        <tr class="cabecera">
            <th style="width: 20px;"></th>
            <th> Nombre </th>

            <th style="width: 100px;">Acci&oacute;n</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Elements)
        {
            <tr>
                <td>
                    @if (item.Activado)
                    {
                        <a href="javascript:void(0);" class="toogleStatus txt-color-green" data-toggle="tooltip" data-placement="top" data-original-title="Desactivar" title="" data-id="@item.Id"><i class="glyphicon glyphicon-ok"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="toogleStatus" data-toggle="tooltip" data-placement="top" data-original-title="Activar" title="" data-id="@item.Id"><i class="glyphicon glyphicon-remove-sign"></i></a>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>

                <td>
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" id="edit-@item.Id" role="@item.Id" class="edit-btn">
                        <i class="color-yellow glyphicon glyphicon-pencil"></i>
                    </a>
                    |
                    <a href="/MetodoCalculo/Details/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visualizar" id="details-@item.Id">
                        <i class="color-black glyphicon glyphicon-eye-open"></i>
                    </a>
                    @if (item.PuedeElimiarse)
                    {
                        <span>|</span>
                        <a href="/MetodoCalculo/Delete/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" id="delete-@item.Id" role="@item.Id" class="delete-btn">
                            <i class="color-red glyphicon glyphicon-remove"></i>
                        </a>
                    }
                </td>

            </tr>

        }

    </tbody>
</table>
@if (Model.Elements.Count == 0)
{
    <div class="no-elements-notification">
        No hay elementos para mostrar
    </div>
}
@Html.PagedListPager(Model.Elements, page => Url.Action("Page", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

<script type="text/javascript">
    $(document).ready(function () {
        $(".edit-btn").click(function () {
            var $elem = $(this);
            var id = $elem.attr("role");
            $.ajax({
                cache: false,
                type: "GET",
                url: $.origin() + "/MetodoCalculo/Edit/",
                data: { "id": id },
                success: function (data) {
                    $("#editItem .modal-body").html(data);
                    $.changeModalName("Método de Cálculo");
                    $("#editItem").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve data.');
                }
            });

        });
        $(".delete-btn").click(function (e) {
            var $elem = $(this);
            var id = $elem.attr("role");
            $.SmartMessageBox({
                title: "Mensaje",
                content: "¿Esta seguro que desea eliminar el elemento?",
                buttons: '[No][Si]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Si") {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: $.origin() + "/MetodoCalculo/Delete/",
                        data: { "id": id },
                        success: function (data) {
                            if (data.Success) {
                                $("#table-container").html(data.Data);
                                $.smallBox({
                                    title: "Confirmación",
                                    content: "<i class='fa fa-clock-o'></i> <i>El elemento se eliminó correctamente</i>",
                                    color: "#659265",
                                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                    timeout: 4000
                                });
                            } else {
                                $.smallBox({
                                    title: "Error",
                                    content: "<i class='fa fa-clock-o'></i> <i>" + data.Errors[0] + "</i>",
                                    color: "#C46A69",
                                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                    timeout: 4000
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve data.');
                        }
                    });
                }
                if (ButtonPressed === "No") {

                }

            });
            e.preventDefault();
        });
        $(".toogleStatus").click(function () {
            var $elem = $(this);
            var id = $elem.attr("data-id");
            $.ajax({
                cache: false,
                type: "GET",
                url: $.origin() + "/MetodoCalculo/Toggle/",
                data: { "id": id },
                success: function (data) {
                    if (data.Success) {
                        $("#table-container").html(data.Data);
                        $.smallBox({
                            title: "Confirmación",
                            content: "<i class='fa fa-clock-o'></i> <i>El elemento se cambió correctamente</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    } else {
                        var errors = "";
                        for (var i = 0; i < data.Errors.length; i++) {
                            errors += "<li>" + data.Errors[i] + "</li>";
                        }
                        $("#errors-container").removeClass("hidden").find("ul").html(errors);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve data.');
                }
            });

        });
        $.InitTooltip();
    })
</script>

