@model List<Entity.Reportes.IVFResumenReport>
<style>
    .table {
        white-space: nowrap;
    }
    th {
    text-align:center;    
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="tbl-ivf" class="table table-striped table-hover table-bordered table-condensed tabla small">
                <thead>
                    <tr class="cabecera">
                        <th>SECTOR-DIVISION-GRUPO</th>
                        <th>V.Agre</th>
                        <th>Peso</th>
                        <th>@ViewBag.MesX - @ViewBag.AnioY</th>
                        <th>@ViewBag.MesX - @ViewBag.AnioX</th>
                        <th>Var%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rep in Model)
                    {
                        <tr>
                            <td>@Html.Raw(rep.Texto)</td>
                            <td>@Html.Raw(rep.ValorAgregado)</td>
                            <td>@Html.Raw(rep.Peso)</td>
                            <td>@Html.DisplayFor(t => rep.MesX_anioX)</td>
                            <td>@Html.DisplayFor(t => rep.MesX_anioY)</td>
                            <td>@Html.DisplayFor(t => rep.MesX_variacion)</td>
                        </tr>                        }
                </tbody>
            </table>
        </div>
    </div>
</div>



@*<table id="tbl-ivf" class="table table-striped table-hover table-condensed tabla small">
    <thead>
        <tr class="cabecera">
            <td>SECTOR - DIVISI&Oacute;N - GRUPO - CLASE</td>
            <td>V. Agre</td>
            <td>Peso</td>
            <td>Mes 2013</td>
            <td>Mes 2014</td>
            <td>% Crec.</td>
            <td>Puntual</td>
            <td>%</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SECTOR FARRIL TOTAL</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr class="cabecera">
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr class="cabecera">
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>LASS DIE ANDER'N SICH</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>*@